<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container" id="scroll-target">
        <h1>Recordify</h1>
        <div class="wallpaper">
        </div>
    </div>
    
    <button id="startRecording">Start Recording</button>
    <button id="stopRecording" disabled>Stop Recording</button>
    <div id="output"></div>

    <div id="currentTasks">
        <h2>Current Tasks</h2>
        <!-- Current tasks will be added here -->
    </div>

    <div id="completedTasks">
        <h2>Completed Tasks</h2>
        <!-- Completed tasks will be added here -->
    </div>

    <div>
        <input type="text" id="searchInput" placeholder="Search for a word">
        <button id="searchButton">Search</button>
        <button id="clearSearchButton" style="display: none;">Clear Search</button>
    </div>
</body>
</html>
